h3{
	line-height: 1.3;
}

.navbar{
	margin-bottom: 0 !important;
	border: none;
}
.navbar-fixed-top, .navbar-fixed-bottom{
	position: inherit !important;
}



.navbar-default{
	background-color: #fff;
	border-color: none;
	height: 100px;
}

.navbar-brand{
	height: 80px;
	padding: 0px 15px;
	margin-top: 13px;
}

.navbar-default .navbar-nav>li>a{
	font-family: 'Lato', sans-serif;
	font-weight: bold;
	font-size: 16px;
	/*color: #33485E;*/
	color:#3A820B;

}

.navbar-nav>li>a{
	line-height: 67px;
}

.img_top{
	text-align: left;
}

.img-responsive1{
           max-width: 1107px; 
           width: 100%; 
           height: auto; 
  }
  .img-responsive1  img{
          max-width: 329px;   /* Máximo da largura da imagem */
          width: 100%;
          max-height: 338px;  /* Máximo da altura da imagem */
          min-height: auto;      /* Mínimo da altura, por padrão “auto” */
  
}


.img-responsive2{
           max-width: 1107px; 
           width: 100%; 
           height: auto; 
  }
  .img-responsive2  img{
          max-width: 662px;   /* Máximo da largura da imagem */
          width: 100%;
          max-height: 249px;  /* Máximo da altura da imagem */
          min-height: auto;      /* Mínimo da altura, por padrão “auto” */
  
}

.img-responsive3{
           float: right;
    height: auto;
    max-width: 400px;
    padding-top: 145px;
    width: 100%;
  }
  .img-responsive3  img{
          max-width: 402px;   /* Máximo da largura da imagem */
          width: 50%;
          max-height: 173px;  /* Máximo da altura da imagem */
          min-height: auto;      /* Mínimo da altura, por padrão “auto” */

  
}